body {
  font-family: "Lato", sans-serif;
    background-color: #f1eef6;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #ffffff;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #574576; */
  /* background: linear-gradient(to right, #574576 0%, #776596 100%); */
    background: linear-gradient(to right, #372556 0%, #776596 100%);

  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #b1b1b1;    #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 30px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #3A294F;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #48375A;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.titlebar{
  background: linear-gradient(to left, #372556 0%, #776596 100%);
  color: white;

  margin-left: -30px;
  margin-right: -30px;

  padding-top: 10px;
  height: 50px;
  line-height: 250%;
}
.category{
  color: white;
  font-size: 20px;
  padding-left: 10px;
}
.datetime{
  color: white;
  font-size: 14px;
}

.main h3{
  font-size: 16px;
}
.main p{
  font-size: 14px;
}
.main ul{
  font-size: 14px;
}

.clock {
    position: absolute;
    top: 92%;
    left: 5%;
    /* transform: translateX(-50%) translateY(-50%); */
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lucida Console', 'Courier New';
    letter-spacing: 7px;
}
